:root {
	--color-1: rgba(193, 220, 220, 1);
	--color-2: rgba(30, 30, 30, 1);
	--color-3: rgba(30, 30, 30, 0.75);
	--color-4: rgba(30, 30, 30, 0.5);
	--color-5: white;
}

.frame {
	/* height: 1064px;
	width: 1920px; */
    height: auto;
    width: auto;
    padding-bottom: 100px;
}

.frame .bank {
	background-color: #ffffff;
	/* height: 5944px;
	position: relative; */
}

.frame .overlap {
	/* height: 900px; */
	left: 0;
	position: absolute;
	top: 164px;
	/* width: 1920px; */
}

.frame .stock-business {
	height: 705px;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	/* width: 1920px; */
}

.frame .stay-in-control-your {
	color: transparent;
	font-family: 'Poppins', Helvetica;
	font-size: 48px;
	font-weight: 700;
	left: 291px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 208px;
	width: 512px;
}

.frame .span {
	color: #0b1035;
}

.frame .text-wrapper-2 {
	color: #1521cf;
}

.frame .text-wrapper-3 {
	color: #1521cf;
	font-family: 'Poppins', Helvetica;
	font-size: 22px;
	font-weight: 600;
	left: 329px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 175px;
}

.frame .strokes-instance {
	left: 291px !important;
	position: absolute !important;
	top: 186px !important;
}

.frame .button {
	all: unset;
	box-sizing: border-box;
	height: 48px;
	left: 292px;
	position: absolute;
	top: 373px;
	width: 187px;
}

.frame .overlap-group {
	background-color: #1521cf;
	border-radius: 64px;
	height: 48px;
	position: relative;
	width: 185px;
}

.frame .text-wrapper-4 {
	color: #ffffff;
	font-family: 'Poppins', Helvetica;
	font-size: 16px;
	font-weight: 600;
	height: 17px;
	left: 28px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 16px;
	white-space: nowrap;
	width: 130px;
}

.frame .overlap-wrapper {
	all: unset;
	box-sizing: border-box;
	height: 48px;
	left: 495px;
	position: absolute;
	top: 373px;
	width: 187px;
}

.frame .feature-tiles {
	height: 244px;
	left: 212px;
	position: absolute;
	top: 656px;
	/* width: 1096px; */
}

.frame .money-transfer {
	height: 244px;
	left: 0;
	position: absolute;
	top: 0;
	width: 246px;
}

.frame .overlap-group-2 {
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 4px 10px #00000030;
	height: 244px;
	position: relative;
	width: 244px;
}

.frame .vector {
	height: 54px;
	left: 93px;
	position: absolute;
	top: 70px;
	width: 59px;
}

.frame .text-wrapper-5 {
	color: #000000;
	font-family: 'Poppins', Helvetica;
	font-size: 20px;
	font-weight: 600;
	height: 30px;
	left: 43px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 144px;
}

.frame .withdrawal {
	height: 244px;
	left: 284px;
	position: absolute;
	top: 0;
	width: 246px;
}

.frame .overlap-2 {
	background-color: #1521cf;
	border-radius: 5px;
	box-shadow: 0px 4px 10px #00000030;
	height: 244px;
	position: relative;
	width: 244px;
}

.frame .img {
	height: 54px;
	left: 92px;
	position: absolute;
	top: 70px;
	width: 59px;
}

.frame .text-wrapper-6 {
	color: #ffffff;
	font-family: 'Poppins', Helvetica;
	font-size: 20px;
	font-weight: 600;
	height: 30px;
	left: 62px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 144px;
}

.frame .bank-deposit {
	height: 244px;
	left: 568px;
	position: absolute;
	top: 0;
	width: 246px;
}

.frame .text-wrapper-7 {
	color: #0b1035bf;
	font-family: 'Poppins', Helvetica;
	font-size: 20px;
	font-weight: 600;
	height: 30px;
	left: 54px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 144px;
}

.frame .deposit {
	height: 58px;
	left: 92px;
	position: absolute;
	top: 70px;
	width: 59px;
}

.frame .online-payment {
	height: 244px;
	left: 852px;
	position: absolute;
	top: 0;
	width: 246px;
}

.frame .text-wrapper-8 {
	color: #0b1035bf;
	font-family: 'Poppins', Helvetica;
	font-size: 20px;
	font-weight: 600;
	height: 30px;
	left: 40px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 144px;
}

.frame .cashless-payment {
	height: 59px;
	left: 92px;
	position: absolute;
	top: 70px;
	width: 59px;
}

.frame .nav-links {
	height: 118px;
	/* left: 284px; */
	position: absolute;
	top: 26px;
	/* width: 1368px; */
}

.frame .line {
	height: 1px;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 49px;
	/* width: 1352px; */
}

.frame .bottom-links {
	height: 48px;
	/* left: 432px; */
	position: absolute;
	top: 70px;
	/* width: 936px; */
}

.frame .text-links {
	height: 24px;
	left: 0;
	position: absolute;
	top: 11px;
	width: 501px;
}

.apply-now {
	background-color: #1521cf;
	border-radius: 64px;
	height: 48px;
	position: relative;
	width: 185px;
}

.apply-now .text-wrapper {
	color: #ffffff;
	font-family: 'Poppins', Helvetica;
	font-size: 16px;
	font-weight: 600;
	height: 17px;
	left: 49px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 15px;
	white-space: nowrap;
	width: 88px;
}

.frame .text-wrapper-9 {
	color: #9c9c9c;
	font-family: 'Poppins', Helvetica;
	font-size: 16px;
	font-weight: 600;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 0;
}

.frame .text-wrapper-10 {
	color: #9c9c9c;
	font-family: 'Poppins', Helvetica;
	font-size: 16px;
	font-weight: 600;
	left: 82px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 0;
}

.frame .text-wrapper-11 {
	color: #9c9c9c;
	font-family: 'Poppins', Helvetica;
	font-size: 16px;
	font-weight: 600;
	left: 163px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 0;
}

.frame .text-wrapper-12 {
	color: #9c9c9c;
	font-family: 'Poppins', Helvetica;
	font-size: 16px;
	font-weight: 600;
	left: 268px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 0;
}

.frame .text-wrapper-13 {
	color: #9c9c9c;
	font-family: 'Poppins', Helvetica;
	font-size: 16px;
	font-weight: 600;
	left: 369px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 0;
}

.frame .text-wrapper-14 {
	color: #9c9c9c;
	font-family: 'Poppins', Helvetica;
	font-size: 16px;
	font-weight: 600;
	left: 453px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 0;
}

.frame .apply-now-instance {
	left: 751px !important;
	position: absolute !important;
	top: 0 !important;
}

.frame .top-links {
	height: 29px;
	left: 0;
	position: absolute;
	top: 0;
	/* width: 1352px; */
}

.frame .business {
	height: 28px;
	left: 0;
	position: absolute;
	top: 1px;
	width: 108px;
}

.frame .img-2 {
	height: 28px;
	left: 0;
	position: absolute;
	top: 0;
	width: 28px;
}

.frame .text-wrapper-15 {
	color: #9c9c9c;
	font-family: 'Poppins', Helvetica;
	font-size: 16px;
	font-weight: 400;
	left: 33px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 2px;
	width: 73px;
}

.frame .personal-acc {
	height: 35px;
	left: 124px;
	position: absolute;
	top: 0;
	width: 118px;
}

.frame .contact {
	height: 28px;
	left: 1018px;
	position: absolute;
	top: 1px;
	width: 166px;
}

.frame .element {
	height: 20px;
	left: 30px;
	position: absolute;
	top: 8px;
	width: 137px;
}

.frame .sign-up-login {
	height: 23px;
	left: 1204px;
	position: absolute;
	top: 3px;
	width: 150px;
}

.frame .text-wrapper-16 {
	color: #9c9c9c;
	font-family: 'Poppins', Helvetica;
	font-size: 16px;
	font-weight: 400;
	left: 33px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 0;
	width: 115px;
}

.frame .vector-2 {
	height: 22px;
	left: 0;
	position: absolute;
	top: 0;
	width: 28px;
}

.strokes {
	height: 12px;
	position: relative;
	width: 27px;
}

.strokes .rectangle {
	background-color: #1521cf;
	height: 2px;
	left: 0;
	position: absolute;
	top: 0;
	width: 27px;
}

.strokes .div {
	background-color: #1521cf;
	height: 2px;
	left: 10px;
	position: absolute;
	top: 10px;
	width: 17px;
}
