extends layout
block content
    div(class="Cards" style="height: 271.97px; left: 170px; top: 274.28px; position: absolute")
        div(class="Rectangle43" style="width: 1038px; height: 271.97px; left: 0px; top: 0px; position: absolute; background: white")
        div(class="Mastercard" style="width: 167px; height: 27.74px; left: 76px; top: 49.31px; position: absolute; color: black; font-size: 24px; font-family: Poppins; font-weight: 700; word-wrap: break-word") MASTERCARD
        div(class="CreditCard" style="width: 140px; height: 27.74px; left: 76px; top: 107.72px; position: absolute; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; word-wrap: break-word") Credit Card
        div(class="990" style="width: 210px; height: 27.74px; left: 76px; top: 149.08px; position: absolute; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; word-wrap: break-word") 9999999*****990
        div(class="PayCreditCard" style="width: 193px; height: 27.74px; left: 76px; top: 221.89px; position: absolute; color: #1521CF; font-size: 24px; font-family: Poppins; font-weight: 600; text-decoration: underline; word-wrap: break-word") Pay Credit Card 
        div(class="ViewTransactions" style="width: 225px; height: 27.74px; left: 366px; top: 221.89px; position: absolute; color: #1521CF; font-size: 24px; font-family: Poppins; font-weight: 600; text-decoration: underline; word-wrap: break-word") View Transactions
        div(class="ViewAccountDetails" style="width: 255px; height: 27.74px; left: 688px; top: 221.89px; position: absolute; color: #1521CF; font-size: 24px; font-family: Poppins; font-weight: 600; text-decoration: underline; word-wrap: break-word") View account details
        div(class="3000" style="width: 136px; height: 27.74px; left: 807px; top: 49.31px; position: absolute; text-align: right; color: black; font-size: 24px; font-family: Poppins; font-weight: 700; word-wrap: break-word") $ 3000
        div(class="Available6000" style="width: 216px; height: 27.74px; left: 729px; top: 108.72px; position: absolute; text-align: right; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; word-wrap: break-word") Available : $ 6000
        div(class="CreditLimit9000" style="width: 244px; height: 27.74px; left: 699px; top: 149.08px; position: absolute; text-align: right; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; word-wrap: break-word") Credit Limit : $ 9000

    div(class="Cards" style="height: 271.97px; left: 170px; top: 582.46px; position: absolute")
        div(class="Rectangle43" style="width: 1038px; height: 271.97px; left: 0px; top: 0px; position: absolute; background: white")
        div(class="JohnS" style="width: 89px; height: 27.74px; left: 76px; top: 49.31px; position: absolute; color: black; font-size: 24px; font-family: Poppins; font-weight: 700; word-wrap: break-word")
        h4=user.name
        div(class="CheckingAccount" style="width: 220px; height: 27.74px; left: 76px; top: 107.72px; position: absolute; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; word-wrap: break-word") Checking Account
        div(class="6627865" style="width: 203px; height: 27.74px; left: 76px; top: 150.08px; position: absolute; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; word-wrap: break-word") 2**66**2   |  7865
        div(class="MoveMoney" style="width: 154px; height: 27.74px; left: 76px; top: 221.89px; position: absolute; color: #1521CF; font-size: 24px; font-family: Poppins; font-weight: 600; text-decoration: underline; word-wrap: break-word") Move Money
        div(class="ViewTransactions" style="width: 225px; height: 27.74px; left: 366px; top: 221.89px; position: absolute; color: #1521CF; font-size: 24px; font-family: Poppins; font-weight: 600; text-decoration: underline; word-wrap: break-word") View Transactions
        div(class="ViewAccountDetails" style="width: 255px; height: 27.74px; left: 688px; top: 221.89px; position: absolute; color: #1521CF; font-size: 24px; font-family: Poppins; font-weight: 600; text-decoration: underline; word-wrap: break-word") View account details
        div(class="100000" style="width: 202px; height: 27.74px; left: 741px; top: 49.31px; position: absolute; text-align: right; color: black; font-size: 24px; font-family: Poppins; font-weight: 700; word-wrap: break-word") $ 100,000
