//- extends layout.pug
//- block content

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Atko Bank
        //link(rel='icon' href='/favicon.png')
        //link(rel='preload' as='font' type='font/woff2', crossorigin, href='https://cdn.auth0.com/styleguide/core/2.0.1/fonts/fakt/FaktPro-Normal.woff2')
        link(rel='stylesheet' href='/static/stylesheets/style.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
        link(rel="icon" type="image/x-icon" href="/static/favicon.ico")
    body
        .frame
            .bank
                .nav-links
                    img(class="line" alt="Line" src="/static/images/line-1.svg")
                    .top-links
                        .business
                            img(class="img-2" alt="Business" src="/static/images/business.svg")
                            .text-wrapper-15 Business
                        img(class="personal-acc" alt="Personal acc" src="/static/images/personal-acc.png")
                        .contact
                            img(class="img-2" alt="Phone in talk" src="/static/images/phone-in-talk.svg")
                            img(class="element" alt="Element" src="/static/images/1-800-356-6522.png")
                        .sign-up-login
                            .text-wrapper-16
                                a(href="/login") Sign up/Login
                            img(class="vector-2" alt="Vector" src="/static/images/vector-4.svg")
                    .bottom-links
                        .text-links
                            .text-wrapper-9 Home
                            .text-wrapper-10 Loans
                            .text-wrapper-11 About us
                            .text-wrapper-12 Services
                            .text-wrapper-13 Pages
                            .text-wrapper-14 Blog
                        .apply-now
                            .text-wrapper Apply now
                .overlap
                    img(className="stock-business" alt="Stock business" src="/static/images/stock-09a-business-woman-1.png")
                    p(class="stay-in-control-your")
                        span(class="span") Stay In Control 
                        span(class="span") of Your 
                        span(class="text-wrapper-2") Finances
                    .text-wrapper-3 Welcome To BankZero
                    .strokes
                        .rectangle
                        .div
                    button(class="button")
                        .overlap-group
                            .text-wrapper-4 Create account
                    button(class="overlap-wrapper")
                        .overlap-group
                            .text-wrapper-4
                                a(href="/account") Check Balance
                    .feature-tiles
                        .money-transfer
                            .overlap-group-2
                                img(class="vector" alt="Vector" src="/static/images/vector-2.svg")
                                .text-wrapper-5
                                    a(href="/transfer") Money Transfer
                        .withdrawal
                            .overlap-2
                                img(class="img" alt="Vector" src="/static/images/vector.svg")
                                .text-wrapper-6 Withdrawal
                        .bank-deposit
                            .overlap-group-2
                                .text-wrapper-7 Bank Deposit
                                img(class="deposit" alt="Deposit" src="/static/images/deposit.svg")
                        .online-payment
                            .overlap-group-2
                                .text-wrapper-8 Online payment
                                img(class="cashless-payment" alt="Cashless payment" src="/static/images/cashless-payment-1.svg")
