extends layout

block content
    div(class="Cards" style="width: 1038px; height: 667.11px; left: 170px; top: 242.89px; position: absolute")
        h4 Congratulations! Your transaction succeeded!
        p.loggedin Check your 
            a.basic(href="/account") Account
